@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=EB+Garamond&family=Lora&family=Salsa&family=Solway&display=swap');

body {
    font-family: 'Salsa', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.depression-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
#goToDashboardBtn {
    background-color: #3498db;
    color: #fff;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover,
#goToDashboardBtn:hover {
    background-color: #2980b9;
}

.result-section {
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.result-section h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.result-section p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

.result-section strong {
    color: #411599da;
    font-size: 19px;
}

.result-section ul {
    padding-left: 20px;
}

.result-section a {
    color: #405868;
    text-decoration: none;
    font-weight: bold;
}

.result-section a:hover {
    text-decoration: underline;
}
